nav {
	background-color: #0B6CA5;
	height: 3em;
	margin-top: -1em;
	width: 80%;
}

.first-list ul {
	list-style-type: none;
}

.first-list li {
	height: 2em;
	width: 2em;
	background-color: #FFFFFF;
	display: inline-block;
	margin-top: .5em;
}

.nav-wordpress-link li {
	height: 2em;
	float: left;
	background-color: #FFFFFF;
	display: inline-block;
}

.login {
	height: 4em;
	width: 20%;
	background-color: #FF0000;
}


.hero {
	background-color: #252F3E;
	height: 72em;
	padding-top: 10em 2em 0 2em;
}

.hero-text-and-cta {
	padding-top: 10em;
}

.hero h1 {
	font-family: arial;
	color: #FFFFFF;
	font-weight: normal;
	text-align: center;
	margin: auto;
}

.hero h4 {
	font-family: arial;
	width: 18em;
	color: #FFFFFF;
	font-weight: normal;
	text-align: center;
	margin: 2em auto 0 auto;
}

.hero-cta-button {
	height: 3em;
	width: 12em;
	background-color: #0B6CA5;
	margin: 3em auto 15em auto;
	border: .5em solid #191E28;
}

.hero-twitter {
	height: 1em;
	width: 3em;
	background-color: #ffffff;
	margin: 0em auto 9em auto;
}

.hero-features {
	background-color: #252F3E;
}

.hero-tile {
	height: 4em;
	width: 20em;
	margin: 2em auto 2em auto;
	background-color: #ffffff;
}

.hero-tile-left-div {
	background-color: #4E5A6C;
	height: 3.5em;
	float: left;
	width: 18%;
	margin-top: .5em;
}

.hero-tile-right-div {
	background-color: #4E5A6C;
	height: 3.5em;
	float: right;
	width: 78%;
	margin-right: .5em;
}

.description-1 {
	background-color: #E2ECF3;
	height: 12em;
}

.feature-tiles-outer {
	padding: 1em .5em 1.0em .5em;
	background-color: #BEC0C6;
	height: auto;
}

.feature-tiles-inner {
	background-color: #FFFFFF;
	height: 12em;
	margin: 1em 0 1.5em 0;
	padding: 1em 1.5em 0 1.5em;
}

.feature-tile-icon {
	height: 4em;
	width: 4em;
	background-color: #BBC8CF;
	margin: auto;
}

.feature-tile-description {
	height: 1.5em;
	background-color: #BBC8CF;
	margin: .5em auto 1em;
}

.feature-tile-body {
	height: 3em;
	background-color: #BBC8CF;
	margin: auto;
}


.description-2 {
	height: 11em;
	background-color: #E2ECF3;
	padding: 10em auto 1em auto;
}

.description-2-cta {
	height: 3em;
	width: 14em;
	background-color: #0B6CA5;
	margin: 0em auto 2em auto;
	border-top: 7em solid #E2ECF3;
}

footer {
	height: 7em;
	background-color: #000000;
	padding: 1.5em 4em 0 4em;
}

.footer-links {
	margin: auto;
	height: 2em;
	text-align: center;
	padding: 1em;
}

a {
	font-family: arial;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none; 
	margin: 1.5em .5em;
}

.automatic-image {
	height: 1em;
	margin: 1em auto 2em auto;
	background-color: #FFFFFF;
	width: 5em;
}
