ul {
	list-style-type: none;
	padding: 0;
	margin: -.5em;
}

li {
	display: inline-block;
}

.nav-logo-link {
	width: 15%;
	height: 4em;
	background-color: #0C76B5;
	float: left;
	display: inline-block;
}

.nav-logo-icon {
	width: 2em;
	height: 2em;
	margin: 1.5em;
}

.nav-wordpress-link {
	width: 70%;
	height: 4em;
	background-color: #0C76B5;
	float: left;
	display: inline-block;
}

.nav-wordpress-link h4 {
	font-weight: normal;
	color: white;
	font-size: 1em;
	padding-top: .5em;
}

.login {
	width: 15%;
	height: 4em;
	background-color: #005A94;
	float: right;
	display: inline-block;
}

.login h4 {
	font-weight: normal;
	color: white;
	font-size: .75em;
	padding: 1.25em;
}

.hero {
	background-image: url("https://s1.wp.com/home.logged-out//images/pic-crowd.webp?2");	
	height: 72em;
	color: #FFFFFF;
	padding: 2em;
}

.hero-text-and-cta {
	padding-top: 14em;
}

.hero h1 {
	font-family: arial;
	font-weight: normal;
	text-align: center;
	margin: auto;
}

.hero h4 {
	font-family: arial;
	width: 18em;
	font-weight: normal;
	text-align: center;
	margin: 2em auto 0 auto;
}

.hero-cta-button {
	height: 3em;
	width: 12em;
	background-color: #0B6CA5;
	margin: 3em auto 15em auto;
	border: .5em solid rgba(15, 10, 24, .8);
}

.hero-cta-button h1 {
	font-size: 1.5em;
	padding-top: .5em;
}

.hero-twitter {
	height: 1em;
	width: 3em;
	background-color: #ffffff;
	margin: 0em auto 9em auto;
}

.hero-features {
}

.hero-tile {
	height: 4em;
	width: 20em;
	margin: 2em auto 2em auto;
}

.hero-tile-left-div {
	height: 4em;
	float: left;
	width: 18%;
}

.herovectors {
	height: 4em;
	color: white;
}

.hero-tile-right-div {
	height: 3.5em;
	float: right;
	width: 78%;
	margin-right: .5em;
}

.hero-tile-h3 {
	color: white;
	padding: 0 0 .5em 0;
	font-size: 1.5em;
}

.hero-tile-h4 {
	color: #CBCEBA;
	font-size: .8em;
}

.description-1 {
	background-color: #E2ECF3;
	height: auto;
	padding: 2em;
}

h3 {
	margin: auto;
	color: #4E5A6C;
	line-height: 1.6;
	font-weight: normal;
	text-align: center;
	font-size: 1.4em;
}

.feature-tiles-outer {
	padding: 1em .5em 1.0em .5em;
	background-color: #BEC0C6;
	height: auto;
}

.feature-tiles-inner {
	background-color: #FFFFFF;
	height: auto;
	margin: 1em 0 1.5em 0;
	padding: 1em 1.5em 1em 1.5em;
	text-align: center;
}

.feature-tile-icon {
	height: 4em;
	width: 4em;
	background-color: #BBC8CF;
	margin: auto;
	border-radius: 50%;
}

.featurevectors {
	height: 2em;
	padding: 1em;
}

.feature-tile-description {
	height: 1.5em;
	margin: .5em auto 1em;
}

.feature-tile-body {
	height: auto;
	margin: auto;
	line-height: 1.6;
}


.description-2 {
	height: 11em;
	background-color: #E2ECF3;
	padding: 12em auto 6em auto;
}

.description-2 h3 {
	padding: 2em;
}

.description-2-cta {
	height: 3em;
	width: 14em;
	background-color: #0B6CA5;
	margin: -1.5em auto 4em auto;
}

.description-2-cta h1 {
	color: #ffFFFF;
	font-weight: normal;
	font-size: 1.5em;
	text-align: center;
	padding-top: .5em;
}

footer {
	height: 7em;
	background-color: #000000;
	padding: 2em 4em 0 4em;
}

.footer-links {
	margin: auto;
	height: 2em;
	text-align: center;
	padding: 1em;
}

a {
	font-family: arial;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none; 
	margin: 1.5em .5em;
}

.automatic-image {
	height: 1em;
	margin: 1em auto 2em auto;
	background-color: #000000;
	width: 5em;
}